name: Idk(TM) CI
permissions:
  contents: write
on:
  push:
    branches: [ "main" ]

  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        env:
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          KEY_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
        run : |
          ./gradlew zipDebug
          tree -a
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: overlay-artifacts
          path: module/

      - name: Commit and Push APKs
        env:
          EMAIL: ${{ secrets.NOREPLY_EMAIL }}
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$EMAIL"
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/$GITHUB_REPOSITORY
          git checkout "${GITHUB_REF:11}"
          git add apk_out
          git commit -m "[CI] Upload built APKs"
          git push